build
.depend*
.obj
.shobj
GNUmakefile*
test/test_publisher
test/test_publisher_secure
test/test_subscriber
test/test_subscriber_secure
test/repo.ior
test/test.log
*~
*.so
*.so.*
*.dylib
node_modules
setenv.sh
node_opendds.sln
.vs/
node_opendds.VC.*
